@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Hi, I am Hari om shukla.<br />
    I have 8 + years of extensive experience in the field of sql and .net MVC project development . I am actively working with development team as System Analyst (s2). I have very good logical and analytical skill.
    I Hold B.Tech Degree in computer science and engineering. I Love Experiment And Learn New Technologies.
</p>
