@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hari Om Shukla<br />
    Rail Vihar Sector 3 , Vasundhara, Ghaziabad U.P.<br />
    <abbr title="Phone">Contact no:</abbr>
    +91-9582278414
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hariomcs0405@gmail.com">Hariomcs0405@gmail.com</a><br />
    
</address>